@use '../variables' as *;
@use '../mixins';

.main {
  flex-grow: 1;
  order: 1;

  @include mixins.breakpoint(small) {
    order: 0;
  }
}

.page-title {
  margin-top: 0;
  margin-bottom: clamp(0.938rem, 0.421rem + 2.2vw, 3.313rem);
  font: clamp(1.25rem, 1.033rem + 0.93vw, 2.25rem) / 1.1 $futura-std-book;
  text-transform: uppercase;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 20px;
  padding: 2px;
  list-style: none;
  background-color: rgb(var(--white) / 0.6);
  border: 3px solid $border-gray-50;

  @include mixins.breakpoint(x-large) {
    font-size: 22px;
  }

  @include mixins.breakpoint(large) {
    gap: 4px;
    font-size: 16px;
    border-width: 1px;
  }

  @include mixins.breakpoint(small) {
    font-size: 14px;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-flex;
    padding: 6px 45px 6px 13px;
    white-space: nowrap;
    background-color: $bg-gray-100;
    color: $text-white;

    @include mixins.transition(background-color 0.15s ease-in-out);

    @include mixins.breakpoint(large) {
      padding: 3px 28px 3px 7px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $bg-gray-300;
    }
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    color: $text-white;
    border: none;
    background: none;
    cursor: pointer;

    @include mixins.transition(background-color 0.15s ease-in-out);

    @include mixins.breakpoint(large) {
      width: 22px;
    }

    &:hover,
    &:focus {
      background-color: $bg-gray-400;
    }
  }
}

.add-user-link {
  display: inline-flex;
  margin-bottom: 16px;
  font-family: $open-sans-light;
}

.form-row {
  display: flex;
  gap: 15px;
  padding-bottom: 11px;
  align-items: center;

  @include mixins.breakpoint(small) {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  &__label {
    min-width: 142px;

    @include mixins.breakpoint(medium) {
      min-width: 84px;
    }
  }

  &__select {
    width: 320px;

    @include mixins.breakpoint(medium) {
      width: 250px;
    }

    @include mixins.breakpoint(small) {
      width: 100%;
    }
  }
}

.page-subtitle {
  margin: 0 0 11px;
  font-size: clamp(1.25rem, 0.69rem + 0.9vw, 1.875rem);
  text-transform: uppercase;
}

.text-box {
  padding: clamp(0.938rem, 0.49rem + 0.72vw, 1.438rem) clamp(1.25rem, 0.467rem + 1.26vw, 2.125rem);
  margin-bottom: clamp(1.875rem, 0.98rem + 1.44vw, 2.875rem);
  font-family: $open-sans-light;
  word-spacing: -0.5px;
  color: $text-white;
  background-color: $bg-gray-300;
}

.preview-tabs {
  display: flex;
  align-items: start;
  margin-bottom: 50px;
  gap: 27px;

  @include mixins.breakpoint(x-large) {
    flex-direction: column;
  }

  &__inner {
    width: 56.5%;

    @include mixins.breakpoint(x-large) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    position: relative;

    @include mixins.transition(border-color 0.15s ease-in-out);

    @include mixins.breakpoint(medium) {
      flex-direction: column;
    }
  }

  &__img {
    min-width: 63%;
    min-height: 540px;
    object-fit: cover;

    @include mixins.breakpoint(xx-large) {
      min-width: 52%;
      min-height: 500px;
    }

    @include mixins.breakpoint(large) {
      min-height: 400px;
    }

    @include mixins.breakpoint(medium) {
      min-width: 100%;
      min-height: 200px;
      height: 200px;
    }
  }

  &__text {
    background-color: $bg-blue-100;
    color: $text-white;
    padding: 20px 20px 65px;
    font: 16px/1.23 $open-sans-light;

    @include mixins.breakpoint(large) {
      font-size: 14px;
      padding: 15px 15px 40px;
    }
  }

  &__title {
    font: 16px/1.3 $open-sans-semibold;
    color: $text-blue;
    margin: 0 0 39px;

    @include mixins.breakpoint(large) {
      margin: 0 0 20px;
      font-size: 14px;
    }
  }

  &__blockquote {
    margin: 0 0 21px;

    @include mixins.breakpoint(large) {
      margin-bottom: 10px;
    }
  }

  &__cite {
    font-style: normal;
    font-family: $open-sans-semibold;
    color: $text-blue;
  }

  &__date {
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-family: $open-sans-semibold;
    white-space: nowrap;
    color: $text-blue;

    @include mixins.breakpoint(large) {
      right: 14px;
      bottom: 14px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    max-width: 400px;

    @include mixins.list-reset;

    @include mixins.breakpoint(medium) {
      gap: 12px;
    }
  }

  &__button {
    position: relative;
    width: 104px;
    height: 104px;
    font-size: 16px;
    background-color: $bg-gray-300;
    border: none;
    cursor: pointer;
    color: $text-white;

    @include mixins.breakpoint(medium) {
      width: 80px;
      height: 80px;
    }

    &:focus {
      outline: none;
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      border: 7px solid transparent;

      @include mixins.transition(border-color 0.15s ease-in-out);

      @include mixins.breakpoint(medium) {
        border-width: 4px;
      }
    }

    &:hover:after,
    &.active:after {
      border-color: $border-blue-100;
    }
  }

  &__switcher {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.btn-row {
  display: flex;
  justify-content: space-between;

  @include mixins.breakpoint(medium) {
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    @include mixins.breakpoint(medium) {
      min-width: 150px;
    }

    @include mixins.breakpoint(small) {
      width: 100%;
    }
  }
}

.send-box {
  max-width: 70%;
  flex-grow: 1;

  @include mixins.breakpoint(medium) {
    max-width: 100%;
  }

  &__inner {
    display: flex;
    gap: 28px;

    @include mixins.breakpoint(medium) {
      gap: 10px;
    }

    @include mixins.breakpoint(small) {
      flex-direction: column;
    }
  }

  &__button {
    @include mixins.breakpoint(small) {
      order: 1;
    }
  }

  &__input {
    flex-grow: 1;

    @include mixins.breakpoint(small) {
      order: 0;
    }
  }
}
