@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light'), url('/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans SemiBold'), url('/fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Book'), url('/fonts/FuturaStdBook.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Light'), url('/fonts/FuturaStdLight.woff') format('woff');
}
