@use 'variables' as *;
@use 'mixins';

.container {
  max-width: 2140px;
  margin: 0 auto;
  padding: 0 20px;

  @include mixins.breakpoint(small) {
    padding: 0 15px;
  }
}

// font size
.text-lg {
  font-size: clamp(1.125rem, 0.454rem + 1.08vw, 1.875rem);
}

// font family
.open-sans-light {
  font-family: $open-sans-light;
}

// margin
.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

// accessibility
.accessibility {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.accessibility:focus {
  position: static;
  width: auto;
  height: auto;
}

.hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
